In [2]:
import pandas as pdy
import numpy as np

In [3]:
s = pd.Series(['a',3,np.nan,1,np.nan])

In [4]:
print(s.notnull().sum())

3

In [8]:
s = pd.Series([np.nan,1,2,np.nan,3])
s = s.ffill()

In [9]:
print(s)

0    NaN
1    1.0
2    2.0
3    2.0
4    3.0
dtype: float64

In [10]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94, 60.655, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI':[
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Contient': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population','GDP','Surface Area','HDI','Continent'])

In [11]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913       NaN
1      63.951   2833687        640679  0.888       NaN
2      80.940   3874437        357114  0.916       NaN
3      60.655   2167744        301336  0.873       NaN
4     127.061   4602367        377930  0.891       NaN
5      64.511   2950039        242495  0.907       NaN
6     318.523  17348075       9525067  0.915       NaN

In [13]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [14]:
s.duplicated()

0    False
1    False
2    False
3     True
4    False
dtype: bool

NameError: name 'plt' is not defined